.tic-tac-toe {
    color: #009670;
    text-align: center;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    border: 7px solid white;
    margin-left: auto;
    margin-right: auto;
}
td {
    border: 5px solid #009670;
}

.winner {
    border: 5px solid red;
}

.ceil {
    width: 100px;
    height: 100px;
    display: inline-block;
 }
.circle  {
    background: url("img/circle.png");
    background-size:100% 100%;
}
.cross  {
    background: url("img/cross.png");
    background-size:100% 100%;
}

.winner-container {
    position: relative;
    width: 30%;
    left: 35%;
    color: #009670;
    text-align: center;
    vertical-align: center;
    font: 20pt sans-serif;
    text-transform: uppercase;
}

.menu-container {
    color: #009670;
    text-align: center;
    position: absolute;
    top: 100px;
    width: 35%;
}

.button {
    background-color: #b7ffd7;
    border: 5px solid #009670;
    color: #009670;
    border-radius: 15px;
    padding: 10px 20px;
    font: 20pt sans-serif;
    margin: 10px 20px;
    width: 300px;
    text-transform: uppercase;

}